/* Paleta de Cores */
:root {
     --color1: #F2D5D8;
     --color2: #F2529D;
     --color3: #091B26;
     --color4: #7566D9;
     --color5: #f6f6f7;
}

/* Estilização da barra de rolagem */
::-webkit-scrollbar {
     width: 10px;
}

::-webkit-scrollbar-track {
     background: var(--color1);
     width: 6px;
}

::-webkit-scrollbar-thumb {
     background: var(--color2);
     border-radius: 30px;
}

/* Estilização geral */
body {
     font-family: 'Montserrat', sans-serif;
     background-color: var(--color1);
     color: var(--color3);
     margin: 0;
     padding: 0;
     padding-top: 80px;
}

/* Cabeçalho */
header {
     background-color: var(--color1);
     padding: 20px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: fixed;
     top: 0;
     width: 100%;
     box-sizing: border-box;
     z-index: 1000;
}

header h2 {
     font-weight: 800;
     font-size: 24px;
     color: var(--color3);
}

.header-container {
     display: flex;
     gap: 20px;
}

.header-container a {
     text-decoration: none;
     color: var(--color3);
     font-weight: 300;
     display: flex;
     align-items: center;
     gap: 8px;
}

.header-container a:hover {
     color: var(--color2);
}

.menu-toggle {
     display: none;
     background: none;
     border: none;
     font-size: 24px;
     cursor: pointer;
}

#logo {
     width: 65px;
}

button {
     font-family: 'Montserrat', sans-serif;
     background-color: var(--color1);
     color: var(--color3);
     border: none;
     padding: 10px 16px;
     font-weight: 300;
     cursor: pointer;
     border-radius: 5px;
     transition: background-color 0.3s ease;
     margin-top: 20px;
}

button:hover {
     background-color: var(--color2);
}

/* Seção de destaque */
.destaque {
     background-color: var(--color3);
     color: var(--color1);
     padding: 40px 20px;
     text-align: center;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.destaque strong {
     font-weight: 800;
     color: var(--color4);
}

.destaque-container h3 {
     font-weight: 300;
     font-size: 20px;
}

.destaque-container h1 {
     font-weight: 800;
     font-size: 36px;
     margin: 10px 0;
     color: var(--color2);
}

.destaque-container h4 {
     font-weight: 300;
     font-size: 18px;
     margin: 10px 0;
}

.destaque-container p {
     font-weight: 300;
     font-size: 16px;
     margin: 10px 0;
}

.destaque img {
     max-width: 100%;
     height: auto;
     margin-top: 20px;
}


#profile {
     width: 30%;
     margin-bottom: 20px;
     padding-left: 50px;
}

/* Seção sobre */
.sobre {
     background-color: var(--color5);
     padding: 40px 20px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     margin: 20px 0;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     flex-wrap: wrap;
}

.sobre-conteudo {
     display: flex;

}

.sobre h2 {
     font-weight: 800;
     font-size: 24px;
     margin-bottom: 20px;
     color: var(--color3);
}

.sobre p {
     font-weight: 300;
     font-size: 16px;
     line-height: 1.6;
     color: var(--color3);
}

.sobre img {
     width: 40%;
     height: auto;
     border-radius: 10%;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.171);

}

.sobre strong {
     font-weight: 800;
     color: var(--color4);
}

/* Seção de habilidades */
.skills {
     text-align: center;
     background-color: #f9f9f9;
     justify-content: center;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.skills h2 {
     font-weight: 800;
     font-size: 24px;
     margin-bottom: 20px;
     color: var(--color3);
}

#skills-title {
     text-align: center;
}

.tecnologies-container {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-content: center;
     padding: 0px 0px 30px 0px;
}

.marquee {
     width: 100%;
     overflow: hidden;
     white-space: nowrap;
     box-sizing: border-box;
     margin-bottom: 20px;
     background-color: var(--color1);
     height: 25px;
     display: flex;
     align-items: center;
     color: var(--color2);
}

.marquee ul {
     animation: marquee 60s linear infinite;
}

.marquee li {
     display: inline-block;
     font-size: 0.8em;
     margin-right: 20px;
     list-style-type: disc;
}

@keyframes marquee {
     0% {
          transform: translateX(0);
     }

     100% {
          transform: translateX(-50%);
     }
}

.tecnologies-container-item {
     display: flex;
     width: 200px;
     margin: 10px;
     padding: 10px;
     background-color: #fff;
     border: 1px solid #ddd;
     border-radius: 8px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     text-align: center;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}

.tecnologies-container-item:hover {
     box-shadow: 5px 5px 5px 5px #f2529d44;
}

.tecnologies-container-item img {
     width: 15%;
     height: auto;
     margin-bottom: 10px;
}

.tecnologies-container-item h4 {
     font-size: 1.0em;
     margin-bottom: 10px;
     color: var(--color3);
}

.tecnologies-container-item li {
     font-size: 0.8em;
     margin-bottom: 10px;
     color: var(--color3);
}

.tecnologies-container-item-score i {
     color: var(--color4);
     font-size: 0.8em;
}

.sidebar-skills-item {
     list-style: none;
     font-size: 1em;
     color: var(--color3);
     margin: 5px 0;
}

@keyframes marquee {
     0% {
          transform: translateX(0);
     }

     100% {
          transform: translateX(-100%);
     }
}

.soft-skills {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding-bottom: 20px;
     justify-content: center;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.soft-skills h2 {
     font-weight: 800;
     font-size: 24px;
     color: var(--color3);
     text-align: center;
     padding: 20px;
}

.soft-skills-container {
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     align-items: center;
     justify-content: center;
}

.soft-skill-card {
     display: flex;
     margin: 10px;
     padding: 10px;
     background-color: #fff;
     border: 1px solid #ddd;
     border-radius: 8px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     text-align: center;
     align-items: flex-start;
     flex-wrap: wrap;
}

.soft-skill-card:hover {
     background-color: var(--color3);
     color: var(--color1);
}

.soft-skills li {
     font-size: 1.2em;
     margin-bottom: 10px;
}

/* Seção de conquistas */
.conquistas {
     background-color: var(--color5);
     padding: 40px 20px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     margin: 0px 0;
}

.conquistas h2 {
     font-weight: 800;
     font-size: 24px;
     margin-bottom: 20px;
     color: var(--color3);
}

.conquistas ul {
     list-style: none;
     padding: 0;
}

.conquistas li {
     font-weight: 300;
     font-size: 16px;
     line-height: 1.6;
     margin-bottom: 10px;
     color: var(--color3);
}

.conquistas li strong {
     font-weight: 800;
     color: var(--color4);
}

/* Seção de experiência */
.experiencia {
     background-color: var(--color5);
     padding: 40px 20px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     margin: 20px 0;
}

.experiencia h2 {
     font-weight: 800;
     font-size: 24px;
     margin-bottom: 20px;
     color: var(--color3);
}

.experiencia-item {
     margin-bottom: 20px;
}

.experiencia-item h3 {
     font-weight: 800;
     font-size: 20px;
     margin-bottom: 10px;
     color: var(--color3);
}

.experiencia-item p {
     font-weight: 300;
     font-size: 16px;
     margin-bottom: 10px;
     color: var(--color3);
}

.experiencia-item ul {
     list-style: none;
     padding: 0;
}

.experiencia-item li {
     font-weight: 300;
     font-size: 16px;
     line-height: 1.6;
     margin-bottom: 10px;
     color: var(--color3);
}

/* Contato */
.contato {
     background-color: #f9f9f9;
     padding: 20px;
     text-align: center;
}

.contato h2 {
     font-weight: 800;
     font-size: 24px;
     margin-bottom: 20px;
     color: var(--color3);
}

.contato a {
     display: inline-block;
     margin: 10px;
     text-decoration: none;
     color: #333;
     font-size: 1.2em;
     transition: color 0.3s ease;
}

.contato a:hover {
     color: var(--color1);
}

.contato i {
     font-size: 2em;
     margin-right: 8px;
     vertical-align: middle;
}

#icone {
     color: #333;
}

.ph-github-logo-fill {
     color: #333;
}

.ph-whatsapp-logo {
     color: #25D366;
}

.ph-linkedin-logo-fill {
     color: #0077B5;
}

/* Botão de voltar ao topo */
.top {
     position: fixed;
     bottom: 20px;
     right: 20px;
     background-color: var(--color2);
     padding: 8px;
     border-radius: 50%;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top a {
     color: #fff;
     font-size: 20px;
     display: flex;
     align-items: center;
     justify-content: center;
}

.projects-container {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-content: center;
     padding: 0 0 30px 0;
 }
 
 .projects-item {
     display: flex;
         width: 45%;
         margin: 10px;
         padding: 10px;
         background-color: #fff;
         border: 1px solid #ddd;
         border-radius: 8px;
         box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
         text-align: center;
         align-items: flex-start;
         justify-content: space-evenly;
         flex-direction: column;
        
 }
 
 .projects-imgs {
     width: 100%;
 }
 
 .projects-imgs-ideia {
     width: 20%;
 }
 
 .Projects h3 {
     font-weight: 800;
     font-size: 25px;
     margin-bottom: 20px;
     color: var(--color3);
 }

 .Projects h2 {
     font-weight: 800;
     font-size: 25px;
     margin-bottom: 20px;
     color: var(--color3);
     margin-top: 25px;
 }

 .project-textContent {
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     justify-content: center;
 }
 
 .project-description {
     text-align: start;
     margin: 20px 20px 0px 20px;
 }
 

 .project-description strong{
     color: var(--color4);
     font-weight: 800;
 }

 .highlight{
     color: var(--color4);
     font-weight: 800;
     margin-left: 20px;
     margin-top: 15px;
 }

 .project-tecnologies {
     margin-top: 30px;
     font-size: 13px;
     margin-bottom: 10px;
     color: var(--color1);
     background-color: var(--color4);
     border-radius: 10px;
     width: 107px;
     height: 25px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: nowrap;
     margin: 9px;
 }
 
 .projects-tecnologies-container {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     align-items: flex-start;
     margin-top: 20px;
 }
 
 .Projects h2 {
     font-weight: 800;
     font-size: 30px;
     margin-bottom: 20px;
     color: var(--color3);
     text-align: center;
 }

 .ph-star-fill{
     color: var(--color4);
    font-size: smaller;
 }

 .see-more-btn{
     background-color: var(--color3);
     width: 150px;
     height: 40px;
     align-items: center;
     display: flex;
     justify-content: center;
     color: var(--color1);
     border-radius: 8px;
     margin-top: 20px;
     font-size: large;
     
 }

 .see-more-btn:hover{
     background-color: var(--color2);
     color: var(--color3);
 }

/* Footer */

footer {
     background-color: #333;
     color: white;
     text-align: center;
     padding: 10px 0;
}

/* Responsividade */
@media (max-width: 520px) {
     .header-container {
          display: none;
     }

     .menu-toggle {
          display: block;
     }

     .header-container.active {
          display: flex;
          flex-direction: column;
          gap: 10px;
          position: absolute;
          top: 60px;
          right: 20px;
          background-color: var(--color5);
          padding: 10px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     }

     .top {
          padding: 6px;
     }

     .top a {
          font-size: 18px;
     }

     .sobre img {
          width: 100%;
          height: auto;
          margin-top: 10px;
          border-radius: 10%;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     }

     .destaque-container h1 {
          font-weight: 800;
          font-size: 33px;
          margin: 10px 0;
          color: var(--color2);
     }

     .sobre-conteudo {
          display: flex;
          flex-wrap: wrap;
     }

     .projects-item {
          display: flex
      ;
          width: 88%;
          margin: 10px;
          padding: 10px;
          background-color: #fff;
          border: 1px solid #ddd;
          border-radius: 8px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          text-align: center;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
      }
}

@media (min-width: 2560px) {
     .destaque-container h1 {
          font-size: 48px;
     }

     .destaque-container h4,
     .destaque-container p {
          font-size: 24px;
     }

     .tecnologies-container-item h4 {
          font-size: 24px;
     }

     .top {
          padding: 12px;
     }

     .top a {
          font-size: 28px;
     }
}
